{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/category.css' %}">
{% endblock style %}

{% block content %}

{% if products_with_urls %}

    <h3>All Products in this Category</h3>
    <div id="container">
    {% for item in products_with_urls %}

        <a href="{% url 'products:product' item.product.id %}">
            <div class="product">
                <img src="{{ item.url }}" alt="">
                <h4>{{ item.product.name }}</h4>
                <p>{{ item.product.price }}$</p>
                <p id="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </p>
            </div>
        </a>

    {% endfor %}
    </div>

{% else %}

<h2>There is no product here!</h2>

{% endif %}

{% endblock content %}