<nav id="navbar">
    <div id="icon">
        <a href="/">
            <i class="fa fa-shopping-bag"></i>
            Online shop
        </a>
    </div>

    <div id="links_search">
        <div id="categorical">
            <a href="{% url 'products:category' 'men' %}">Men</a>
            <a href="{% url 'products:category' 'women' %}">Women</a>
            <a href="{% url 'products:category' 'kids' %}">Kids</a>
            <a href="{% url 'products:category' 'beauty' %}">Beauty</a>
        </div>
        <div id="search">
            <form action="get" id="search_form">
                <input type="text" placeholder="Enter Something...">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>

    {% if request.user.is_authenticated %}

    <div id="cart">
        <a href="#">
            <i class="fa fa-user"></i>
        </a>
        <a href="#" id="cart_icon">
            <i class="fa fa-shopping-cart"></i>
            <p id="orders">0</p>
        </a>
    </div>

    {% else %}

    <div id="sign">
        <a href="{% url 'accounts:signup' %}">Signup</a>
        <a href="{% url 'accounts:signin' %}">Signin</a>
    </div>

    {% endif %}
</nav>